@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(../libs/reset.css);
@keyframes hover {
  0% {
    opacity: 0;
    transform: translateY(-4px); }
  100% {
    opacity: 1;
    transform: translateY(-10px); } }
@keyframes inner {
  0% {
    transform: scale(0);
    opacity: 0;
    display: none; }
  100% {
    transform: scale(1);
    opacity: 1;
    display: block; } }
@keyframes fondu {
  0% {
    opacity: 1; }
  33% {
    opacity: 0; }
  66% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fondu2 {
  0% {
    opacity: 0; }
  33% {
    opacity: 1; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }
body {
  font-family: Roboto, sans-serif; }

header {
  border-bottom: 2px solid #775B42; }

h1 {
  text-align: center;
  margin-bottom: 2px; }

.logo {
  height: 60px;
  width: auto;
  margin: 0 auto;
  border: none; }

.container__bio {
  width: 100px;
  padding-top: 20px;
  position: absolute;
  top: 0px;
  cursor: pointer;
  height: 48px;
  text-align: center;
  background: #b99b80; }
  .container__bio:hover {
    background: linear-gradient(90deg, #775B42, 77%, #b99b80);
    z-index: 1;
    opacity: 1;
    width: 30%;
    border-radius: 0px 10px 0px 0px;
    box-shadow: 6px 7px 9px #775B42;
    transition-duration: 1s; }
  .container__bio:hover .price--wrap {
    opacity: 1;
    border-radius: 0px 0px 10px;
    box-shadow: 6px 7px 9px #775B42;
    transition-duration: 1.2s;
    transition-delay: 1.5s; }

.fas {
  color: #fff;
  font-size: 2em; }

.price--wrap {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-top: 15px;
  color: #fff;
  text-align: left;
  padding-left: 15px;
  opacity: 0;
  height: fit-content;
  background: linear-gradient(90deg, #775B42, 77%, #b99b80); }
  .price--wrap .title--list {
    font-size: 30px;
    letter-spacing: 3px;
    padding-bottom: 25px; }

h1,
.def__work--title {
  font-size: 3em;
  font-family: "Abril Fatface", sans-serif; }

.nav__link {
  display: inline-flex;
  position: absolute;
  left: 840px;
  top: 15px;
  font-weight: bold;
  font-size: 2em;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px; }
  .nav__link .link {
    color: #000;
    text-decoration: none;
    margin-right: 20px; }
    .nav__link .link:hover {
      text-decoration: underline;
      color: blue; }

img {
  width: 80%;
  margin: 90px;
  border-radius: 15px;
  border: 1px solid #b99b80; }

.def__accesbar--heading,
.def__coupfeu--heading,
.def__rebout--heading,
.def__eft--heading,
.def__hypnoz--heading,
.def__reiki--heading {
  margin-top: 35px;
  margin-left: 50px; }

.def__accesbar--wrap,
.def__coupfeu--wrap,
.def__rebout--wrap,
.def__eft--wrap,
.def__hypnoz--wrap,
.def__reiki--wrap {
  margin-top: 15px;
  text-align: justify;
  margin: 20px 50px;
  line-height: 3em; }

.def__coupfeu--list {
  margin-left: 85px;
  line-height: 40px;
  margin-bottom: 25px;
  list-style: initial; }

.container__img--reiki {
  display: flex;
  justify-content: center; }

.image {
  width: 50%;
  height: 365px;
  margin-left: 0;
  margin: 75px;
  box-shadow: 8px 10px 15px #775B42; }

.footer__heading {
  font-family: "Abril Fatface", sans-serif;
  position: absolute;
  font-size: 1.5em;
  letter-spacing: 4px; }

.footer__heading,
footer .fab,
footer a {
  color: #fff; }

footer {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 200px;
  background: #775B42; }
  footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    margin-bottom: 25px;
    margin-top: 30px;
    text-decoration: none; }
  footer .fab {
    font-size: 3em;
    margin: 30px;
    margin-bottom: 5px; }

/*# sourceMappingURL=def.css.map */
