@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(../libs/reset.css);
@keyframes hover {
  0% {
    opacity: 0;
    transform: translateY(-4px); }
  100% {
    opacity: 1;
    transform: translateY(-10px); } }
@keyframes inner {
  0% {
    transform: scale(0);
    opacity: 0;
    display: none; }
  100% {
    transform: scale(1);
    opacity: 1;
    display: block; } }
@keyframes fondu {
  0% {
    opacity: 1; }
  33% {
    opacity: 0; }
  66% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fondu2 {
  0% {
    opacity: 0; }
  33% {
    opacity: 1; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }
body {
  font-family: Roboto, sans-serif; }

h1 {
  text-align: center; }

.logo {
  height: 60px; }

.container__bio {
  width: 100px;
  padding-top: 20px;
  position: absolute;
  top: 0px;
  cursor: pointer;
  height: 46px;
  text-align: center;
  background: #b99b80; }
  .container__bio:hover {
    background: linear-gradient(90deg, #775B42, 77%, #b99b80);
    z-index: 1;
    opacity: 1;
    width: 30%;
    border-radius: 0px 10px 0px 0px;
    box-shadow: 6px 7px 9px #775B42;
    transition-duration: 1s; }
  .container__bio:hover .biography {
    opacity: 1;
    border-radius: 0px 0px 10px;
    box-shadow: 6px 7px 9px #775B42;
    transition-duration: 1.2s;
    transition-delay: 1.5s; }
    .container__bio:hover .biography .fas, .container__bio:hover .biography .who--wrap, .container__bio:hover .biography iframe, .container__bio:hover .biography .content--contact,
    .container__bio:hover .biography .content--where, .container__bio:hover .biography .content--who {
      display: block;
      visibility: visible;
      transition-duration: 1.2s;
      transition-delay: 1.1s; }

.biography {
  margin-top: 8px;
  opacity: 0;
  height: fit-content;
  background: linear-gradient(90deg, #775B42, 77%, #b99b80); }
  .biography .fas {
    display: none;
    visibility: hidden;
    font-size: 24px;
    line-height: 36px;
    margin: 5px; }
  .biography h3 {
    padding-top: 25px;
    color: #fff; }

.who--wrap {
  display: none;
  visibility: hidden;
  padding-top: 15px;
  padding: 10px;
  line-height: 30px;
  letter-spacing: 2px;
  text-align: left;
  font-size: 28px;
  color: #fff;
  font-family: Roboto, sans-serif; }

iframe {
  display: none;
  visibility: hidden;
  position: relative;
  left: 45px;
  width: 150px;
  padding: 15px; }

.info {
  font-size: 16px; }

.content--contact,
.content--where,
.content--who {
  display: none;
  visibility: hidden;
  color: #fff;
  padding: 15px;
  font-size: 40px; }

.content--where {
  display: none;
  visibility: hidden;
  margin-top: 15px; }

.content--who {
  display: none;
  visibility: hidden;
  padding-top: 25px; }

.fas {
  color: #fff;
  font-size: 2em; }

h1,
.def__work--title {
  font-size: 3em;
  font-family: "Abril Fatface", sans-serif; }

.competence--wrap {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  margin: 5px;
  position: absolute;
  color: #fff;
  line-height: 30px; }

.link {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  margin-right: 20px; }
  .link:hover {
    text-decoration: underline;
    color: blue; }

.img {
  width: 100%;
  height: 400px;
  background-size: cover; }
  .img img {
    width: 100%;
    height: 401px;
    position: fixed;
    z-index: -1; }

.img2 {
  animation: fondu 15s ease-in-out infinite both; }

.img1 {
  animation: fondu2 15s ease-in-out infinite both; }

.container__def--work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  background: linear-gradient(90deg, #b99b80, #fff, #b99b80); }
  .container__def--work img {
    width: 353px;
    height: 177px;
    margin: 50px;
    box-shadow: 8px 8px 12px #775B42;
    border-radius: 15px; }
    .container__def--work img:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition-duration: 1s; }

.def__work--title {
  width: 100%; }

.footer__heading,
.def__work--title {
  display: flex;
  height: fit-content;
  justify-content: center;
  margin-top: 10px; }

a {
  text-decoration: none; }

.def__work--subtitle {
  position: relative;
  font-family: Roboto, sans-serif;
  text-align: center;
  bottom: 25px;
  font-size: 1.5em;
  color: #000;
  text-decoration: none; }

.footer__heading {
  font-family: "Abril Fatface", sans-serif;
  position: absolute;
  font-size: 1.5em;
  letter-spacing: 4px; }

.footer__heading,
footer .fab,
footer a {
  color: #fff; }

footer {
  display: flex;
  justify-content: center;
  background: #775B42; }
  footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    margin-bottom: 25px;
    margin-top: 30px;
    text-decoration: none; }
  footer .fab {
    font-size: 3em;
    margin: 30px;
    margin-bottom: 5px; }

/*# sourceMappingURL=styles.css.map */
